header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  #timer-display {
    font-size: 50px;
    text-align: center;
  }
  