@import url('https://fonts.googleapis.com/css2? family=Kalam:wght@300&display=swap');

footer {
  background-color: #333;
  position: fixed;
  z-index: 9999;
  height: 100px;
  left: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.footer-text {
  float: left;
  font-size: 20px; 
  color: #fff; 
  line-height: 50px;
  margin-left: 400px;
  text-align: right;  
  font-family: 'Kalam', cursive;
  flex-grow: 1;
}

.footer-menu {
  display: inline-flex;
  align-items: center;
}

.footer-menu li a {
  font-size: 14px; 
  color: #fff; 
  cursor: pointer;
}

.footer-menu li {
  display: inline-block;
  margin-right: 10px;
  border: none;
}

.footer-menu li:last-child {
  margin-right: 0;
}

.github-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.github-icon img {
  width: 40px; 
  height: auto;
  margin-top: 5px;
}

.gmail-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gmail-icon img {
  width: 40px; 
  height: auto;
  margin-top: 5px;
}

.fb-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fb-icon img {
  width: 30px; 
  height: auto;
  margin-top: 5px;
}

@media (min-width: 1500px) and (max-width: 2300px){
  .footer-text{
    margin-left: 700px;
  }
}

@media (max-width: 801px){
  .footer-text {
    font-size: 13px;
    margin-left: 250px;
  }
  .github-icon img{
    width: 30px;
  }
  .gmail-icon img {
    width: 30px;
  }
  .fb-icon img{
    width: 25px;
  }
}