@import url('https://fonts.googleapis.com/css2? family=Kalam:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@900&display=swap');
body {
        background-size: cover;
        background-position: center;
        font-family: 'Kalam', cursive;
}

/*修改背景*/
.back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.back img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

/*修改導航條*/
header {
    background-color: #333;
    padding: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 150px;
    font-family: 'Kalam', cursive;
}

li {
    border: 2px solid #f5eeee;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10px;
    position: relative;
    width: 100%; 
    margin-right: 20px; 
    transition: transform 0.3s;
    background-size: cover; 
    background-position: center; 

    font-family: 'Kalam', cursive;
    font-size: 20px; 
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    color: #fff;
    font-family: 'Kalam', cursive;
}

nav ul li:hover::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgba(179, 255, 0, 0.2);
    z-index: -10;
}
li:hover {
    transform: scale(1.2); 
    font-family: 'Kalam', cursive;
}
nav ul li a {
    margin-right: 20px;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100px; 
    position: relative; 
    z-index: 1; 
    font-family: 'Kalam', cursive;
}

nav ul li:hover a {
    color: #ff0000; 
    font-family: 'Kalam', cursive;
}

.logo {
    display: flex;
    align-items: center;
    padding: 20px;
    font-family: 'Kalam';
}

.logo img {
<<<<<<< HEAD
    margin-right: 50px;
    width: 150px;
    height: 150px;
}

=======
    width: 170px;
    height: auto; 
    transform: scale(0.8);
    filter: brightness(1) invert(0);
    animation: heartbeat 1.5s infinite;
  }
  
>>>>>>> 390f07b5d9dc8237dfd2e0e04f19fb0ba40f5e11
@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.logo-text {
<<<<<<< HEAD
    padding: 1px 400px;
    font-size: 40px;
=======
    font-size: 50px;
>>>>>>> 390f07b5d9dc8237dfd2e0e04f19fb0ba40f5e11
    font-weight: bold;
    color: #1c1a1a;
    text-shadow: 0 0 8px #fff, 0 0 40px #fff, 0 0 30px #fff, 0 0 60px #a89fa8;
    /* animation: heartbeat 1.5s infinite; */
    margin-left: 50px;
    font-family: 微軟正黑體;
      
}

main {
    margin-top: 100px; 
}

.pose-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 35px;
    margin: 0;
    max-width: 125px;
   
}

.pose-section #label-container {
    font-size: 18px; 
    margin-left: 300px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: none;
}

@keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  .pose-section button {
    font-size: 50px;
    padding: 12px 24px;
    margin-top: 20px;
    animation: bounce 1s infinite;
    text-shadow: 0 0 10px #fff, 0 0 20px #b72020, 0 0 30px #481da0, 0 0 40px #32b3e2, 0 0 40px #e16f0a;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%); 
    border-radius: 30px;
    border: 2px solid #555555;
    font-family: 'VT323', monospace;
}

.pose-section button:hover{
    background-color: #555555;
    color: white;
}
/*
.pose-section canvas {
    width: 200%;
    height: auto;
    margin-right: 130px;
    border-radius: 70px;
  }
*/
.pose-section canvas {
    width: 250%;
    height: 100%;
    margin-top: -100px;
    margin-left: 100px;
    margin-right: -100px;
    border-radius: 70px;
    display: block;
  }


  #result {
    margin-top: -30px; 
    margin-left: 185px; 
    margin-right:-185px ;
    transform: scale(4.5) ;
    font-family: 'Noto Serif TC', serif;
    text-shadow: 2px 2px 4px rgba(230, 225, 225, 0.5);
    text-shadow: 0 0 50px rgba(255, 255, 255, 0.8);
  }
  